// primary-color
$dark-blue: hsl(233, 26%, 24%);
$green: hsl(136, 65%, 51%);
$light-blue: hsl(192, 70%, 51%);

//neutral-color
$blue-gray: rgb(150, 152, 166);
$Light-blue-gray: rgb(243, 244, 246);
$light-gray: hsl(0, 0%, 98%);
$white: #ffffff;

// breakpoint
$small: 376px;
$medium: 768px;
$large: 1440px;

// height
$header-height-max: 8.2;
$header-height-min: 6.4;
